.customer-page {
  padding: 120px 40px 100px 40px;
  background: #fcfdfb;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

.customer-container {
  background: #ffffff;
  border-radius: 30px;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  max-width: 1200px;
  margin: 0 auto;
  transition: all 0.3s ease;
}


.left-section {
  width: 45%;
}

.rider-profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 25px;
  object-fit: cover;
  border: 3px solid #f5f5f5;
}


.info-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-label {
  font-size: 15px;
  font-weight: 500;
  color: #1a1a1a;
  flex-shrink: 0;
}

.info-value {
  font-size: 15px;
  color: #1a1a1a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.right-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.eta-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 25px;
  background: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.eta-box:hover {
  transform: translateY(-3px);
}

.eta-img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.eta-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.eta-title {
  font-size: 16px;
  margin: 0;
  color: #555;
  font-weight: 500;
}

.eta-time {
  background: #c28750; 
  padding: 8px 25px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff; 
  margin: 0;
}

.location-box {
  padding: 20px;
  border-radius: 25px;
  background: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
}

.location-title {
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: 600;
  color: #444;
}

.location-text {
  font-size: 15px;
  color: #333;
}



.order-summary-container {
  width: 100%;
  background: #f5f5f5;
  padding: 25px;
  border-radius: 20px;
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.10);
}

.order-title {
  font-weight: bold;
  margin: 0 0 15px 0;
  font-size: 16px;
}

.order-scroll {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 10px;
}

.order-scroll p {
  margin: 6px 0;
  font-size: 15px;
}

.order-quantity {
  font-weight: 600;
  margin-right: 6px;
}


@media (max-width: 900px) {
  .customer-page {
    padding: 80px 20px 60px 20px;
  }

  .customer-container {
    flex-direction: column;
    padding: 20px;
  }

  .left-section,
  .right-section {
    width: 100%;
    align-items: flex-start;
  }

  .eta-box {
    width: 100%;
    justify-content: flex-start;
  }
}
